{% extends './basic.html' %}
{% load static %}

{% block title %}| Shop{% endblock %}

  {% block body %}

		<!-- Content
		============================================= -->

  <section id="content">
            <div class="content-wrap">
                <div class="container">

                    <div class="container">

                    <div class="row col-mb-50">
                        <div class="col-md-12">

                            <div class="tabs tabs-justify tabs-tb tabs-alt mb-0 clearfix" id="realestate-tabs" data-active="2">

                                <ul class="tab-nav clearfix">
                                    <li><a href="#realestate-tab-1">Why Us?</a></li>
                                    <li><a href="#realestate-tab-2">Best online store for Bridal</a></li>
                                    <li><a href="#realestate-tab-3">Affordable fashion is now !!!</a></li>
                                </ul>

                                <div class="tab-container">

                                    <div class="tab-content clearfix" id="realestate-tab-1">
                                    <p>With an infinite collection of stunning outfits to choose from, you will surely find something to suit every occasion. Naveen Stores is your one-stop destination for all your bridal, festive, party, and casual wear shopping spree. Be close to your roots with an exquisite range of ethnic wear, only by Naveen Stores!!! Be your own-version of Desi girl !!!</p>
                                    </div>

                                    <div class="tab-content clearfix" id="realestate-tab-2">
                                    <p>Still fussing over “THE WEDDING LEHNGA or GOWN???” Don’t worry, you’ve arrived at the right place!!! We at Naveen Stores understand how almost every girl has fantasized about their dream wedding at one point or another. And it won’t be wrong to say that they are more excited about their wedding day outfit and not the groom. Keeping this in mind, we have curated and created a magnificent collection of the best bridal outfits. Get ready to finally live your dream of being the perfect bride with the perfect outfit, that no one can take their eyes off you!!! Don’t settle for anything less, make the best of your special day only with Naveen Stores. Gorgeous outfit for the gorgeous bride!!!</p>
                                    </div>

                                    <div class="tab-content clearfix" id="realestate-tab-3">
                                        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor.</p>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
            </div>
  </section>
<!-- #content end -->




		{% endblock %}

